@import './components/pane.scss';


$dark-gray1: #182026 !default;
$dark-gray2: #202b33 !default;
$dark-gray3: #293742 !default;
$dark-gray4: #30404d !default;
$dark-gray5: #394b59 !default;

@import "@blueprintjs/core/src/blueprint.scss";

:global {
  @import './normalize.css';
}

body {
  overflow: hidden !important;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column
}